<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">
	<import resource="applicationContext-bean.xml"/>
	<bean id="myDataSource"
        class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!-- <property name="url" value="jdbc:mysql://w.rdc.sae.sina.com.cn:3307/app_uparttime" />
        <property name="username" value="nm1mxmyl2z" />
        <property name="password" value="k515zkijxj4wj24hkz20m544441mh45zyj0kh0w5" /> -->
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root" />
        <property name="password" value="" />
</bean>
    <bean id="sqlSessionFactory"
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="myDataSource" />
        <property name="configLocation"
			value="classpath:myBatis_config/mybatis_config.xml"></property>
    </bean>
  
    
    
</beans>