.classfy_first{
width:100%;
float:left;
background:#e9e9e9;
font-size:15px;
}
.classfy_first p{
margin:10px 0px 10px 0px;
padding-left:10px;
}
.classfy_second{
height:1000px;
float:left;
width:100%;
background:white;
}
.classfy_third{
float:left;
width:100%;
float:left;
background:white;
padding-top:5px;
padding-bottom:5px;
}
.classfy_four{
float:left;
width:35%;
padding-top:5px;
padding-bottom:5px;
}
.classfy_five{
float:left;
width:30%;
text-align:center;
padding-top:5px;
padding-bottom:5px;
}
.classfy_left{
width:70%;
float:right;
}
.classfy_right{
width:70%;
float:left;
}