.link-u{
	color: #818181;
	font-size: 15px;
}
.no-nowrap{
	white-space: normal!important;
}
.number{
	color: #4e4e4e;
	float: right;
}
.item-price{
	font-size: 15px;
	margin-top: 8px;
}
.cart-list{
	margin: 0 auto;
	margin-bottom: 49px;
}
.cart-list ul{
	background: #f1f1f1;
}
.cart-list ul li{
	background: #FFFFFF;
	margin-top: 10px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
.cart-list .item-inner:after{
	height: 0;
}
/*改写radio和checkbook的背景颜色为红色*/
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
	background-color: #ff0000;
}


/**/
.cart-list li label{
	padding: 10px 0;
}
label.label-checkbox.active-state{
	background-color: #fff;
}
.item-number{
	height: 27px;
	width: 100%;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 8px;
}

.item-number i{
	display: inline-block;
	margin: 0;
	height: 25px;
	background-size: 13px 13px;
	background-position: center center;
	padding: 0;
	 
}
.item-number input[type=text]{
	display: inline-block;
	width: 60%;
	height: 25px;
	line-height: 25px;
	margin-bottom: 2px;
	margin: 0;
	text-align: center;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}
.cart-del{
	display: block;
	padding:55px 0;
	height: 100%;
	line-height: 100%;
	color: #fff;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

